# Dependencies & Environments at root or subfolders
node_modules/
**/node_modules/
.env
**/.env
env/
**/env/

# Backend caches (Crucial for your Serverless/FastAPI setup)
**/__pycache__/
*.py[cod]
*$py.class

# Serverless framework build folders
.serverless/
**/.serverless/

# Frontend builds
dist/
build/