fastapi
mangum
pydantic
pydantic-settings
sqlmodel
sqlalchemy
asyncpg
pyjwt[crypto]
passlib[bcrypt]
bcrypt==4.1.3
google-genai
cloudinary
python-multipart
fastapi-mail
email-validator
beanie
motor
setuptools
uvicorn